body{
background-color: darkred;
margin: 0;
}

#container{
	width: 1100px;
	margin: 0 auto;
    background-color: #F5EDED;           
}

#nav{
	width: 1100px;
	margin: 0 auto; /*centering the div*/
	font-size: 0; /*get rid of the inline-blocks white spacing*/
		}

#nav a {
	width: 550px;
	height: 50px;
	line-height: 50px;
	font-size: 21px;
	display: inline-block;
	text-align: center;
	text-decoration: none; /*get rid of the underline*/
	color: white;
}

#nav a:hover {
	background-color: black;
	color: #F5EDED;
}

#nav .active{
	background-color: #828377;
	color: #F5EDED;
}
#footer {
    width: 100%;
    height: 50px;
    background-color: #828377;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
#footer a{
	color: ghostwhite;
	font-size: 17px;
}	
.clearfloat{
		clear: both;
	}